<footer class="mastfoot mt-auto">
  <div class="inner">
    <p class="margin-top my-3 text-muted">
      <img src="../images/falneicra.png" width="35px" height="35px" /> &copy; 2020 Falneicra Inc.
    </p>
  </div>
</footer>
