<div class="side-navbar">
  <h4>내 계정</h4>
  <ul>
    <li><a href="/account/profile" class="nav-item">회원정보</a></li>
    <li><a href="/account/manage-address" class="nav-item">주소록 관리</a></li>
    <li><a href="/account/purchase-history" class="nav-item">구매목록</a></li>
    <li><a href="/account/payment-method" class="nav-item">결제수단</a></li>
    <li><a href="/account/seller-management" class="nav-item">판매자 관리</a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> 로그아웃</a></li>
  </ul>
</div>
