<%- include("partials/header"); -%>
<!-- Custom styles -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/account.css">
</head>

<body id="bootstrap-overrides">
  <%- include("partials/navbar"); -%>

  <main role="main" class="container-fluid">
    <%- include("partials/sidenav"); -%>
    <div class="tab-content">
      <div>
        <h3>주소록 관리</h3>
      </div>
      <div class="tab-subcontent">
        <div id="Pickup" class="tabcontent col-sm-12" style="display: block;">
        <div class="card mb-4">
          <div class="card-header clear-fix">
            기본 배송지
          </div>
          <!-- 상품 1 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      이름1
                      <br><small>주소1</small>
                      <br><small>전화번호1</small>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-13">
                <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">수정</button>
                <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">삭제</button>
                </div>
              </div>
            </div>
          </div>
          <hr></hr>
          <!-- 상품 2 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      이름2
                      <br><small>주소2</small>
                      <br><small>전화번호2</small>
                    </h5>
                  </div>
                </div>
                <div class="col-sm-13">
                <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">수정</button>
                <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">삭제</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block">주소 추가</button>
      </div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include("partials/footer"); -%>
