<%- include("partials/header"); -%>
<main role="main" class="container">

  <div class="starter-template">
    <h1>내용</h1>
    <p class="lead">여기에 내용을 수정하세요.</p>
  </div>

</main>
<%- include("partials/footer"); -%>
