<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/product.css" rel="stylesheet">
</head>

<body class="text-center">
  <%- include("partials/navbar"); -%>

  <main role="main">

    <div class="container">

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">World</a>
          <a class="p-2 text-muted" href="#">U.S.</a>
          <a class="p-2 text-muted" href="#">Technology</a>
          <a class="p-2 text-muted" href="#">Design</a>
          <a class="p-2 text-muted" href="#">Culture</a>
          <a class="p-2 text-muted" href="#">Business</a>
          <a class="p-2 text-muted" href="#">Politics</a>
          <a class="p-2 text-muted" href="#">Opinion</a>
          <a class="p-2 text-muted" href="#">Science</a>
          <a class="p-2 text-muted" href="#">Health</a>
          <a class="p-2 text-muted" href="#">Style</a>
          <a class="p-2 text-muted" href="#">Travel</a>
        </nav>
      </div>

      <div class="row m-4">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="col p-4 d-flex flex-column position-static">
              <table class="text-left" height="200">
                <colgroup>
                  <col style="width:10%">
                  <col style=*>
                </colgroup>
                <tr>
                  <th>제목:</th>
                  <th class="mb-1 text-muted "> 제목1</th>
                </tr>
                <tr>
                  <th>가격:</th>
                  <th class="mb-1 text-muted"> 가격1</th>
                </tr>
                <tr>
                  <th>갯수:</th>
                  <th class="mb-1 text-muted"> 갯수1</th>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-dark float-right mb-3 mr-1 ">바로구매</button>
      <button type="button" class="btn btn-outline-dark float-right mb-3 mr-1">장바구니</button>
      <button type="button" class="btn btn-outline-dark float-right mb-3 mr-1">매장구입</button>


      <div class="col-md-12 d-inline-block">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="text-left">고객 리뷰</h4>
          <p class="mb-0 text-left">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="text-left">상품 정보</h4>
          <p class="mb-0 text-left">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <hr class="featurette-divider">
      </div>


      <!-- FOOTER -->
      <%- include("partials/copyright"); -%>
  </main>
  <%- include("partials/footer"); -%>
