<%- include("partials/header"); -%>
<!-- Custom styles -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/account.css">
</head>

<body id="bootstrap-overrides">
  <%- include("partials/navbar"); -%>

  <main role="main" class="container-fluid">
    <%- include("partials/sidenav"); -%>
    <div class="tab-content">
      <div>
        <h3>구매목록</h3>
      </div>
      <div class="tab-subcontent">
        <div id="Pickup" class="tabcontent col-sm-12" style="display: block;">
        <div class="card mb-4">
          <div class="card-header clear-fix">
            주문일 2020/10/10
            <div class="float-right">
              No. 24030255240
            </div>
          </div>
          <!-- 상품 1 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/product-default.jpg" alt="product-img" width="110%">
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      상품명
                      <br><small>100원 / 1개</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 상품 2 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/product-default.jpg" alt="product-img" width="110%" />
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      상품명
                      <br><small>100원 / 1개</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-13">
          <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">교환/반품신청</button>
          <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">배송 조회</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-lg btn-block">구매후기 작성</button>

      </div>
      <div class="tab-subcontent">
        <div id="Pickup" class="tabcontent col-sm-12" style="display: block;">
        <div class="card mb-4">
          <div class="card-header clear-fix">
            주문일 2020/10/10
            <div class="float-right">
              No. 24030255240
            </div>
          </div>
          <!-- 상품 1 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/product-default.jpg" alt="product-img" width="110%">
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      상품명
                      <br><small>100원 / 1개</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 상품 2 -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/product-default.jpg" alt="product-img" width="110%" />
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-10 ml-2">
                    <h5 class="card-title">
                      상품명
                      <br><small>100원 / 1개</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-13">
          <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">교환/반품 신청</button>
          <button type="button" class="btn btn-outline-dark mb-1 mx-1  float-right">배송 조회</button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-secondary btn-lg btn-block">구매후기 작성</button>
      </div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include("partials/footer"); -%>
