/* GLOBAL STYLES
-------------------------------------------------- */
/* (Color palette: https://colorhunt.co/palette/196180) */
/* Padding below the footer and lighter body text */

html, body {
  height: 100%
}

body {
  margin-top: 76px;
  align-items: center;
  background-color: #ebecf1;
  color: #555555;
  line-height: 1.5;
}

h4, img, .side-navbar {
  padding: 10px;
}

td {
  padding: 5px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.side-navbar a {
  display: block;
  padding: 5px 10px;
}

a:hover {
  text-decoration: none;
}

/* Side navigation bar */
.nav-item {
  color: #555555;
}

.side-navbar {
  background-color: white;
}

.side-navbar li:hover {
  background-color: rgba(158,158,158,0.2);
  color: #3282b8;
}

/* Tab content */
.btn-edit {
  margin: 15px 0 0;
}

.center {
  margin: auto;
}

.info-wrap {
  /* background-color: #cbeaed;
  border-radius: 20px;
  padding: 20px; */
  margin: 0 auto;
  max-width: 90%;
}

.tab-content {
  background-color: white;
  padding-bottom: 1vw!important;
}

/* .col-md-9.col-12 {
  padding-bottom: 15px;
} */

.tab-content h3 {
  background-color: #0f4c75;
  color: white;
  padding: 20px 20px;
  margin: 0;
}

.tab-subcontent {
  padding: 20px;
}

.center-content {
  text-align: center;
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
}

textarea {
  width : 100%
}

#amountInput {
  font-size: 1.5rem;
}

.save-acc-info-btn {
  min-width: 30%;
}

/* New added CSS */
@media (min-width: 992px) {
  body {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .col-md-9.col-12 {
    padding-left: 0.3vw;
  }
}

@media (max-width: 767px) {
  .col-md-3.col-12 {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .tab-subcontent, .card-header, .card-body, td {
    padding: 2.5vw;
  }

  .card {
    margin-bottom: 2.5vw!important;
  }

  .card.hazelmoney-disp {
    margin: 0!important;
  }

  .card.m-4 {
    margin: 2.5vw!important;
  }

  h3 {
    font-size: 4vw;
    padding: 4vw!important;
  }

  h4 {
    font-size: 4vw;
    padding-top: 1vw!important;
    padding-bottom: 1vw!important;
  }

  .card, .card-header, .card-body, .clearfix, .side-navbar,
  button.btn, a.btn, input.form-control, a.text-secondary,
  #amountInput, select.form-control.d-inline, label, th, td, table, form.info-wrap,
  .save-acc-info-btn, textarea#detail.form-control, #show_change_pw {
    font-size: 3.3vw;
  }

  .card-body a.btn.btn-sm.rounded-pill, input#productImages {
    font-size: 2.4vw;
  }

  select.form-control, input.px-3, #yy, #dd {
    font-size: 2.9vw;
  }

  h5 {
    line-height: 0.7!important;
    padding: 0;
  }

  h2 {
    font-size: 7vw!important;
  }

  h6 {
    font-size: 4vw!important;
  }

  h4.p-0 {
    margin-bottom: 5vw!important;
  }

  #buttonCancel, #buttonSubmit {
    margin-top: 15px;
  }

  .col-9 {
    padding-left: 1vw!important;
  }

  small {
    font-size: 2.8vw;
    padding: 2.5vw 0 0;
  }

  button.btn, a.btn {
    padding: 1vw 1.5vw!important;
  }

  .col-4.mt-3 {
    margin-top: 2.5vw!important;
  }

  .col-sm-6.col-4.mt-3 {
    padding-right: 0vw!important;
  }

  .col-4.mt-3:last-child {
    padding-left: 0vw!important;
  }

  .info-wrap .row .col-12.text-center img {
    width: 40%;
  }

  /* footer related */
  footer.mastfoot > div.inner > p.text-muted > img {
    width: 7%!important;
    padding: 1vw!important;
  }
}
