body {
    margin-top: 56px;
    padding: 0px 30px;
    color: #5a5a5a;
    background-color: #ebecf1;
}

input.item {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
}

/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  position: relative;
  bottom: 0px;
  text-align: center;
  index-z: -1;
}

/* ---------------------- */
.disc-tag {
  background-color: #ea5455;
  border-radius: 10px;
  color: #e5e5e5;
  padding: 2px 5px;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

/* 자동결제의 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
