body {
    margin-top: 56px;
    color: #5a5a5a;
    background-color: #ebecf1;
}

input.item, input.all-items {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

@media (max-width: 960px) and (min-width: 768px) {
  .col-md-8.order-md-1 {
    padding-right: 7.5px!important;
  }
  .col-md-4.order-md-2 {
    padding-left: 7.5px!important;
  }
}

@media (max-width: 767px) {
  #apply-coupon {
    margin-left: 0;
    margin-right: 0;
  }

  #cart-continue {
    margin: 0!important;
  }
}

@media (max-width: 576px) {
  .col-1 {
    padding: 0;
  }

  .col-sm-6.col-9 {
    max-width: 200px;
  }

  .card {
    margin-bottom: 5%!important;
  }

  .col-3.img-box {
    padding-right: 3%!important;
  }

  h2 {
    font-size: 5.5vw;
  }

  p {
    font-size: 3.5vw;
  }

  .card, .card-header, .clearfix, .card-body, a, small, li.list-group-item, h6 {
    font-size: 3.3vw;
  }

  .disc-tag {
    font-size: 2.5vw;
  }

  .page-header {
    padding: 2.5rem 0 1.8rem !important;
  }

  h4 {
    font-size: 5.0vw!important;
  }

  .btn-primary, #apply-coupon {
    font-size: 4.0vw!important;
  }
}

@media (max-width: 518px) {
  .card-body.cart-item {
    padding: 10px;
  }
  .img-box {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .product-box {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .card, .card-header, .clearfix, .card-body, a, small, li.list-group-item, h6 {
    font-size: 3.8vw;
  }

  .card-header.purchasing-product {
    padding: 12px 10px;
  }

}

@media (max-width: 400px) {
  h5 {
    line-height: 1.0!important;
  }
}

/* ---------------------- */
.disc-tag {
  background-color: #ea5455;
  color: #e5e5e5;
  padding: 2px 5px;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

/* 자동결제의 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.no-italics {
  font-style: normal;
}
