body {
    margin-top: 56px;
    color: #5a5a5a;
    background-color: #ebecf1;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.col-8 {
  padding-left: 0;
}

@media (max-width: 576px) {
  .card {
    padding: 3%!important;
    font-size: 3.8vw;
  }

  .card-title {
    margin-bottom: 3%!important;
  }

  h2 {
    font-size: 6.0vw;
  }

  h4 {
    font-size: 5.5vw;
  }

  h5.card-title {
    margin-bottom: 6vw;
  }

  .btn-sm {
    font-size: 3.3vw;
  }

  .page-header {
    padding: 2.5rem 0 1.8rem !important;
  }
}

@media (max-width: 496px) {
  .wishlist-title {
    display: block;
  }

  .page-header {
    padding: 2.5rem 0 1.8rem !important;
  }
}

@media (max-width: 400px) {
  .card-body, a, small, li.list-group-item {
    font-size: 3.8vw;
  }

  @media (max-width: 400px) {
    h5 {
      line-height: 1.0!important;
    }
  }

  p {
    margin-bottom: 10px;
  }
}

/* ---------------------- */
.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
