body {
    margin-top: 56px;
    padding: 0px 30px;
    color: #5a5a5a;
    background-color: #ebecf1;
    min-width: 576px;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  position: relative;
  bottom: 0px;
  text-align: center;
  index-z: -1;
}

/* ---------------------- */
.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
